/* Ensure the text within the caption is left-aligned and ragged right */
/*.quarto-float-caption {
  text-align: left !important;
  margin-right: auto !important;
  margin-left: 0 !important;
  display: block !important;
}*/

caption,
figcaption,
.table-caption,
caption p,
.quarto-float-caption {
  text-align: left !important;
}
